[submodule ".external/tinyobjloader"]
	path = .external/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "assets/models/tests"]
	path = assets/models/tests
	url = https://github.com/alecjacobson/common-3d-test-models.git
[submodule ".external/tinyxml2"]
	path = .external/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule ".external/iconfonts"]
	path = .external/iconfonts
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule ".external/stb"]
	path = .external/stb
	url = https://github.com/nothings/stb.git
[submodule "external/imgui"]
	branch = docking
[submodule "imgui-filebrowser"]
	path = .external/imgui-filebrowser
	url = https://github.com/AirGuanZ/imgui-filebrowser.git
[submodule ".external/imgui"]
	path = .external/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
